# Obsidian internal files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/appearance.json

# Plugin specific logs/configs
.obsidian/plugins/obsidian-git/data.json

# OS specific files
.DS_Store
Thumbs.db

# Obsidian local plugin secrets
.obsidian/plugins/copilot/data.json
